body {
  main.main {
    position: relative;
    p, li, div, a, span {
      font-size: rem-calc(18);
    }
  }
  section.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    &::after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: .5;
      transition: height 1s ease;
      transform: scaleX(1);
      animation: static 5s infinite;
      background: {
        image: url('/assets/silhouette-y-outline.png');
        repeat: no-repeat;
        attachment: fixed;
        position: center center;
      }
      background-size: 300px auto;
      @include breakpoint(medium) {
        background-size: 450px auto;
      }
      @include breakpoint(large) {
        background-size: 500px auto;
      }
    }
    //waypoints fade out on scroll
    &.fade-out {
      &::after {
        height: 0;
        animation: none;
        // background-size: 500px 1px;
      }
    }
    // static flicker
    @keyframes static {
      0% {
        background-position: center center;
        opacity: .6;
      }
      19% {
        opacity: .7;
      }
      20% {
        opacity: .8;
        transform: skewX(0deg);
      }
      20.5% {
        opacity: .7;
        transform: skewX(5deg);
      }
      21% {
        opacity: .6;
        transform: skewX(0deg);
      }
      22% {
      }
      47% {
        opacity: .6;
      }
      48% {
        opacity: .8;
        background-position: center center;
      }
      49% {
        opacity: .5;
        background-position: 45% center;
        transform: skewX(0deg);
      }
      49.5% {
        transform: skewX(-7deg);
      }
      50% {
        opacity: .8;
        transform: skewX(-5deg);
      }
      50.5% {
        opacity: .3;
        transform: skewX(0deg);
      }
      51% {
        opacity: .6;
        background-position: center center;
      }
      72% {
        opacity: .6;
        transform: skewY(0deg);
      }
      72.5% {
        transform: skewY(6deg);
      }
      73% {
        opacity: .3;
        transform: skewY(5deg);
      }
      73.5% {
        opacity: .7;
        transform: skewY(0deg);
      }
      74% {
        opacity: .6;
      }
      100% {
        opacity: .6;
        background-position: center center;
      }
    }
    .title {
      position: fixed;
      padding: 20px;
      transition: opacity .3s ease, transform .3s ease;
      h1 {
        font-size: 3rem;
        margin-bottom: 0;
        span {
          font-size: inherit;
          i, b {
            display: inline-block;
            font-style: normal;
            position: relative;
          }
          i {
            transition: transform .4s ease, opacity .4s ease;
          }
          b.r {
            transition: transform .5s ease;
          }
        }
      }
      h2 {
        font-size: 2rem;
        font-family: $body-font-family;
      }
      &.headroom--not-top {
        // hide when not at top - mobile
        opacity: 0;
        // anywhere not top
        @include breakpoint(medium) {
          opacity: .8;
          transform: translateY(68px);
        }
        // scrolling down
        &.headroom--unpinned {
          @include breakpoint(medium) {
            opacity: .2;
            h1 {
              span {
                i {
                  transform: translateY(20px);
                  opacity: 0;
                }
                b.r {
                  transform: translateX(-70px);
                }
              }
            }
          }
        }
      }
    }
  }
  section.about {
    height: 100vh;
    @include breakpoint(medium) {
      height: 200vh;
    }
    @include breakpoint(large) {
      height: 300vh;
    }
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    .snowflake {
      position: absolute;
      transition: opacity .3s ease-in-out;
      top: 0;
      right: -50%;
      height: 100%;
      width: 100%;
      opacity: .02;
    }
    .bio-wrap {
      position: relative;
      opacity: 0;
      padding: 3rem 0;
      transform: translateX(-60px);
      transition: opacity .4s ease, transform .5s ease;
    }
    &.fade-in {
      .snowflake {
        opacity: .05;
      }
      .bio-wrap {
        opacity: 1;
        transform: translateX(0);
      }
    }
    @include breakpoint(medium) {
      h2 {
        position: absolute;
        left: -220px;
        top: 50%;
        transform: translateY(-59%) rotate(-90deg);
      }
    }
    a[name='about'] {
      position: relative;
      top: -200px;
    }
  }
}
