@keyframes bounce {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes shadow-bounce {
  from {
    width: 200px;
    @include breakpoint(medium) {
      width: 300px;
    }
  }
  50% {
    width: 185px;
    @include breakpoint(medium) {
      width: 285px;
    }
  }
  to {
    width: 200px;
    @include breakpoint(medium) {
      width: 300px;
    }
  }
}
